[tool.poetry]
name = "federation-registry"
version = "0.1.0"
description = "Python web application providing public REST API to inspect the configurations of the providers registered into the DataCloud project"
authors = ["Giovanni Savarese <giovanni.savarese@ba.infn.it>", "Marica Antonacci <marica.antonacci@ba.infn.it>"]

[tool.poetry.dependencies]
python = "^3.8.1"
flaat = "^1.1.8"
fastapi = "^0.95.2"
uvicorn = "^0.22.0"
neomodel = "5.0.1"
pydantic = {extras = ["email"], version = "^1.10.9"}
pycountry = "^22.3.5"
python-openstackclient = "^6.2.0"
python-glanceclient = "^4.4.0"

[tool.poetry.dev-dependencies]
pytest = "^7.3.1"
pytest-cov = "^4.1.0"
nox = "^2023.4.22"
mkdocs-material = "^9.1.17"
mkdocs-git-authors-plugin = "^0.7.2"
mkdocstrings-python = "^1.1.2"
Pillow = "^9.5.0"
CairoSVG = "^2.7.0"
httpx = "^0.24.1"
pre-commit = "^3.3.3"
ruff = "^0.1.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
# Add rules on PyFlakes(F), pycodestyle (E,W), isort (I), 
# mccabe (C90) pep8-naming (N), pydocstyle (D), pyupgrade (UP), 
# ruff specific rules (RUF),
# flake8-bugbear (B), flake8-logging-format (G), flake8-quotes (Q)
extend-select = ["B", "C90", "E", "F", "G", "I", "N", "Q", "RUF", "UP", "W"]

[tool.ruff.lint.per-file-ignores]
"dependencies.py" = ["B008"]
"endpoints.py" = ["B008"]
"config.py" = ["N805"]
"app/models.py" = ["N805"]
"app/query.py" = ["N805"]
"schemas.py" = ["N805"]
"schemas_extended.py" = ["N805"]
"scripts/main.py" = ["E402"]
"scripts/models/provider.py" = ["N805"]
"scripts/providers/opnstk.py" = ["C901"]

[tool.ruff.lint.pydocstyle]
convention = "google"