aarc-entitlement==1.0.5; python_version >= "3.6"
anyio==4.0.0; python_version >= "3.8"
attrs==23.1.0; python_version >= "3.8" and python_version < "4.0"
autopage==0.5.2; python_version >= "3.8"
cachetools==5.3.2; python_version >= "3.7"
certifi==2023.7.22; python_version >= "3.7"
cffi==1.16.0; python_version >= "3.8"
charset-normalizer==3.3.2; python_full_version >= "3.7.0" and python_version >= "3.7"
click==8.1.7; python_version >= "3.7"
cliff==4.3.0; python_version >= "3.8"
cmd2==2.4.3; python_version >= "3.8"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
configargparse==1.7; python_version >= "3.5"
cryptography==41.0.5; python_version >= "3.8"
debtcollector==2.5.0; python_version >= "3.8"
decorator==5.1.1; python_version >= "3.8"
dnspython==2.4.2; python_version >= "3.8" and python_version < "4.0"
dogpile.cache==1.2.2; python_version >= "3.8"
email-validator==2.1.0.post1; python_version >= "3.8"
exceptiongroup==1.1.3; python_version < "3.11" and python_version >= "3.8"
fastapi==0.95.2; python_version >= "3.7"
flaat==1.1.14
h11==0.14.0; python_version >= "3.7"
humanfriendly==10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
idna==3.4; python_version >= "3.8"
importlib-metadata==6.8.0; python_version >= "3.8"
importlib-resources==6.1.1; python_version >= "3.8" and python_version < "3.9"
iso8601==2.1.0; python_version >= "3.8" and python_version < "4.0"
jmespath==1.0.1; python_version >= "3.8"
jsonpatch==1.33; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.7.0" and python_version >= "3.8" and python_version < "4.0"
jsonpointer==2.4; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.8"
jsonschema-specifications==2023.7.1; python_version >= "3.8" and python_version < "4.0"
jsonschema==4.19.2; python_version >= "3.8" and python_version < "4.0"
keystoneauth1==5.3.0; python_version >= "3.8"
liboidcagent==0.6.0
msgpack==1.0.7; python_version >= "3.8"
neo4j-driver==4.4.10; python_version >= "3.7"
neobolt==1.7.17; python_version >= "3.7"
neomodel==5.0.1; python_version >= "3.7"
netaddr==0.9.0; python_version >= "3.8"
netifaces==0.11.0; python_version >= "3.8"
openstacksdk==2.0.0; python_version >= "3.8"
os-service-types==1.7.0; python_version >= "3.8"
osc-lib==2.8.1; python_version >= "3.8"
oslo.config==9.2.0; python_version >= "3.8"
oslo.i18n==6.1.0; python_version >= "3.8"
oslo.serialization==5.2.0; python_version >= "3.8"
oslo.utils==6.2.1; python_version >= "3.8"
packaging==23.2; python_version >= "3.8"
pbr==5.11.1; python_version >= "3.8"
pkgutil-resolve-name==1.3.10; python_version >= "3.8" and python_version < "3.9"
platformdirs==3.11.0; python_version >= "3.8"
prettytable==3.9.0; python_version >= "3.8"
pycountry==22.3.5; python_version >= "3.6" and python_version < "4"
pycparser==2.21; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pydantic==1.10.13; python_version >= "3.7"
pyjwt==2.8.0; python_version >= "3.7"
pynacl==1.5.0; python_version >= "3.6"
pyopenssl==23.3.0; python_version >= "3.8"
pyparsing==3.1.1; python_full_version >= "3.6.8" and python_version >= "3.8"
pyperclip==1.8.2; python_version >= "3.8"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0")
python-cinderclient==9.4.0; python_version >= "3.8"
python-glanceclient==4.4.0; python_version >= "3.8"
python-keystoneclient==5.2.0; python_version >= "3.8"
python-novaclient==18.4.0; python_version >= "3.8"
python-openstackclient==6.3.0; python_version >= "3.8"
pytz==2023.3.post1; python_version >= "3.8"
pyyaml==6.0.1; python_version >= "3.8"
referencing==0.30.2; python_version >= "3.8" and python_version < "4.0"
regex==2023.10.3; python_version >= "3.7"
requests==2.31.0; python_version >= "3.8"
requestsexceptions==1.4.0; python_version >= "3.8"
rfc3986==2.0.0; python_version >= "3.8"
rpds-py==0.12.0; python_version >= "3.8" and python_version < "4.0"
simplejson==3.19.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
sniffio==1.3.0; python_version >= "3.8"
starlette==0.27.0; python_version >= "3.7"
stevedore==5.1.0; python_version >= "3.8"
typing-extensions==4.8.0; python_version < "3.10" and python_version >= "3.8"
tzdata==2023.3; python_version >= "3.8"
urllib3==2.0.7; python_version >= "3.7"
uvicorn==0.22.0; python_version >= "3.7"
warlock==2.0.1; python_version >= "3.8" and python_version < "4.0"
wcwidth==0.2.9; python_version >= "3.8"
wrapt==1.15.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.8"
zipp==3.17.0; python_version >= "3.8" and python_version < "3.9"
